/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */

@import '../../../../resources/scss/generic/variables';
@import '../../../../resources/scss/generic/functions';
@import '../../../../resources/scss/generic/mixins';

/* ------------------------------------------------------------ *\
	Blocks: Section Footer
\* ------------------------------------------------------------ */

.footer {
  background-color: $background-main;
}

.top-footer {
  .container {
    padding-top: 70px;
    padding-bottom: 50px;

    width: 100%;

    @include breakpoint-up(mobile) {
      padding-top: 100px;
      padding-bottom: 70px;
    }

    @include breakpoint-up(small-desktop) {
      padding-top: 136px;
      padding-bottom: 100px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@include breakpoint-up(mobile) {
  .top-footer__top-container {
    display: flex;
    justify-content: space-between;
  }
}

.top-footer__navigation {
  @include breakpoint-up(mobile) {
    margin-left: 40px;
  }
}

.top-footer__title {
  color: $text-secondary;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 120%;
  word-break: normal;
}

.top-footer__links {
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-footer__link {
  color: $text-secondary;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
}

.top-footer__contacts {
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  @include breakpoint-up(mobile) {
    margin-top: 0;
    margin-right: 24px;
  }

  @include breakpoint-up(small-desktop) {
    margin-top: 0;
    margin-left: 255px;
    margin-right: 128px;
  }
}

.top-footer__contact {
  display: flex;
  align-items: center;
  gap: 10px;

  .contact__icon {
    $size: 24px;

    width: $size;
    height: $size;

    svg {
      width: $size;
      height: $size;
    }

    path {
      fill: $color-primary;
    }
  }

  .contact__text {
    color: $text-secondary;

    font-family: 'BankGothic';
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.05em;
  }
}

.top-footer__social {
  margin-top: 50px;

  display: flex;
  align-items: center;
  gap: 20px;
}

.top-footer__icon-link {
  $size: 34px;

  display: block;
  width: $size;
  height: $size;

  svg {
    width: $size;
    height: $size;

    path {
      color: $color-primary;

      transition: color $transition-default;
    }
  }

  &:hover {
    path {
      color: $color-primary-hover;
    }
  }
}

.top-footer__images-grid {
  --cols-count: 2;
  --cell-size: 137px;
  --rows-count: 2;

  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: repeat(var(--cols-count), var(--cell-size));
  grid-template-rows: repeat(var(--rows-count), var(--cell-size));
  gap: 6px;
  width: max-content;

  .top-footer__image {
    width: var(--cell-size);
    height: var(--cell-size);

    border-radius: 2px;
  }

  @include breakpoint-up(mobile) {
    --cell-size: 147px;
    --cols-count: 4;
    --rows-count: 1;

    margin-top: 70px;
  }

  @include breakpoint-up(small-desktop) {
    --cell-size: 152px;
    --cols-count: 2;
    --rows-count: 2;

    margin-top: 0;
  }
}

.footer__separator {
  width: 100%;
  height: 3px;

  background-color: $color-primary;
}

.bottom-footer {
  margin-top: 20px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  @include breakpoint-up(mobile) {
    flex-direction: row;
  }
}

.bottom-footer__text {
  color: $text-secondary;
  opacity: 0.5;

  font-family: 'BankGothic';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.05em;
}

.bottom-footer__by {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  @include breakpoint-up(mobile) {
    flex-direction: row;
    gap: 15px;
  }
}

.by__icon {
  svg {
    width: 95px;
    height: 28px;

    color: $text-secondary;
    opacity: 0.5;

    transition: opacity $transition-default;
  }

  &:hover {
    svg {
      opacity: 1;
    }
  }
}
