/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */

@import '../../../../resources/scss/generic/variables';
@import '../../../../resources/scss/generic/functions';
@import '../../../../resources/scss/generic/mixins';

/* ------------------------------------------------------------ *\
	Blocks: Section Header
\* ------------------------------------------------------------ */

.header {
  display: flex;
  justify-content: center;
}

.header__sticky {
  position: fixed;
  top: 0;
  z-index: 100;

  padding-top: 12px;
  padding-bottom: 12px;

  width: 100%;

  .container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
  }

  .header__sticky__bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: transparent;

    transition: background-color $transition-default;
  }

  * {
    z-index: inherit;
  }
}

.header__left-buttons {
  display: flex;
  align-items: start;
  gap: 60px;

  @include breakpoint-down(desktop) {
    gap: 10px;
  }
}

@include breakpoint-down(desktop) {
  .menu-button .button-icon__text {
    display: none;
  }
}

@include breakpoint-down(tablet) {
  .phone-button .button-icon__text,
  .header__right-buttons .button {
    display: none;
  }
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: start;

  .logo {
    width: 148px;
    height: 106px;

    transition:
      width $transition-default,
      height $transition-default;
  }

  &:hover {
    .logo__paint-item {
      fill: $color-primary-hover;
    }
  }

  @include breakpoint-down(desktop) {
    margin-top: 0;

    align-items: center;

    .logo {
      width: 65px;
      height: 44px;
    }
  }
}

.header__right-buttons {
  display: flex;
  align-items: start;
  justify-content: end;
  gap: 10px;
}

.header__sticky--collapse {
  .header__sticky__bg {
    background-color: $color-secondary;
  }

  .header__logo {
    align-items: center;

    .logo {
      width: 65px;
      height: 44px;
    }
  }
}

.header__menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

  width: 100%;
  height: 0;

  background-color: $color-secondary;
  overflow: hidden;

  transition: height $transition-default;

  &.header__menu--show {
    height: 100%;
  }

  .container {
    display: flex;
    justify-content: space-between;
    height: 100%;

    @include breakpoint-down(mobile) {
      flex-direction: column;
      justify-content: center;
      gap: 70px;
    }
  }
}

.header-menu__navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: 100%;

  &:has(.header-menu__link:hover) {
    .header-menu__link--active:not(:hover) {
      opacity: 0.5;
    }
  }

  .header-menu__link {
    position: relative;

    padding-left: 15px;
    color: $text-primary;
    opacity: 0.5;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 100%;

    &:hover {
      opacity: 1;
    }

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 3px;
    }

    @include breakpoint-down(small-desktop) {
      font-size: 30px;
    }
  }

  .header-menu__link--active {
    opacity: 1;

    &::before {
      background-color: $color-primary;
    }
  }

  @include breakpoint-down(mobile) {
    height: auto;
  }
}

.header-menu__contacts {
  margin-right: 88px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: 100%;

  @include breakpoint-down(small-desktop) {
    margin-right: 0;

    gap: 15px;
  }

  @include breakpoint-down(mobile) {
    margin-left: 15px;

    height: auto;
  }
}

.header-menu__contact {
  display: flex;
  align-items: center;
  gap: 10px;

  .contact__icon {
    $size: 24px;

    width: $size;
    height: $size;

    svg {
      width: $size;
      height: $size;
    }

    path {
      fill: $color-primary;
    }
  }

  .contact__text {
    color: $text-primary;

    font-family: 'BankGothic';
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.05em;

    @include breakpoint-down(small-desktop) {
      font-size: 16px;
    }
  }
}

.header-menu__social {
  margin-top: 96px;

  display: flex;
  align-items: center;
  gap: 20px;

  @include breakpoint-down(small-desktop) {
    margin-top: 50px;
  }
}

.header-menu__icon-link {
  $size: 34px;

  display: block;
  width: $size;
  height: $size;

  svg {
    width: $size;
    height: $size;

    path {
      color: $color-primary;

      transition: color $transition-default;
    }
  }

  &:hover {
    path {
      color: $color-primary-hover;
    }
  }
}
