/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */

@import '../../../../resources/scss/generic/variables';
@import '../../../../resources/scss/generic/functions';
@import '../../../../resources/scss/generic/mixins';

/* ------------------------------------------------------------ *\
	Blocks: Section Hero
\* ------------------------------------------------------------ */

.section {
  position: relative;
}

.hero__header-collapse {
  position: absolute;

  height: 200px;

  @include breakpoint-down(desktop) {
    height: 350px;
  }

  @include breakpoint-down(mobile-small) {
    height: 100px;
  }
}

.section-hero__bg-filter {
  background-color: $color-secondary;
  opacity: 0.5;
}

.section-hero {
  .container {
    display: flex;
    justify-content: space-between;
  }
}

.hero-menu {
  margin-top: 320px;
  margin-bottom: 320px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 26px;

  &:has(.hero-menu__link:hover) {
    .hero-menu__link--active:not(:hover) {
      opacity: 0.5;
    }
  }

  .hero-menu__link {
    position: relative;

    padding-left: 15px;
    color: $text-primary;
    opacity: 0.5;

    font-family: $font-main;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 120%;

    &:hover {
      opacity: 1;
    }

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 3px;
    }
  }

  .hero-menu__link--active {
    opacity: 1;

    &::before {
      background-color: $color-primary;
    }
  }

  @include breakpoint-down(desktop) {
    display: none;
  }
}

.hero-intro {
  margin-top: 380px;
  margin-bottom: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .hero-intro__title {
    color: $text-primary;

    font-family: $font-main;
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 100%;

    @include breakpoint-down(desktop) {
      .hero-title-br {
        display: none;
      }
    }
  }

  .hero-intro__text {
    margin-top: 20px;

    color: $text-primary;

    font-family: $font-secondary;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.05em;
  }

  .hero-intro__actions {
    margin-top: 50px;

    display: flex;
    gap: 10px;
  }

  @include breakpoint-down(desktop) {
    margin: 0;
    margin-top: 462px;
    margin-bottom: 200px;

    .hero-intro__title {
      font-size: 30px;
    }

    .hero-intro__text {
      font-size: 20px;
    }

    .hero-intro__actions {
      margin-top: 30px;

      flex-direction: column;
    }
  }

  @include breakpoint-down(mobile-small) {
    margin: 0;
    margin-top: 202px;
    margin-bottom: 130px;

    .hero-intro__title {
      font-size: 40px;
    }
  }
}

.consultation-modal {
  .modal-header {
    --margin: 70px;

    margin-top: var(--margin);
    margin-left: var(--margin);
    margin-right: var(--margin);

    @include breakpoint-down(mobile) {
      --margin: 50px;
    }

    @include breakpoint-down(mobile-small) {
      --margin: 20px;

      margin-top: 30px;
    }

    .modal-title {
      font-size: 60px;

      @include breakpoint-down(tablet) {
        font-size: 50px;
      }

      @include breakpoint-down(mobile) {
        font-size: 30px;
      }
    }

    .modal-text {
      margin-top: 20px;

      font-size: 18px;

      @include breakpoint-down(mobile) {
        font-size: 16px;
      }
    }
  }

  .modal-body form {
    --margin: 70px;

    margin-top: 50px;
    margin-left: var(--margin);
    margin-right: var(--margin);

    display: flex;
    flex-direction: column;
    gap: 30px;

    @include breakpoint-down(mobile) {
      --margin: 50px;

      margin-top: 30px;

      gap: 20px;
    }

    @include breakpoint-down(mobile-small) {
      --margin: 20px;
    }

    .modal-body__row {
      display: flex;
      gap: 21px;

      @include breakpoint-down(mobile) {
        gap: 20px;
      }

      @include breakpoint-down(mobile-small) {
        flex-direction: column;
      }
    }
  }

  .modal-footer {
    --margin: 70px;

    margin-top: 30px;
    margin-bottom: var(--margin);
    margin-left: var(--margin);
    margin-right: var(--margin);

    @include breakpoint-down(mobile) {
      --margin: 50px;

      margin-top: 20px;
    }

    @include breakpoint-down(mobile-small) {
      --margin: 20px;
      margin-bottom: 65px;
    }
  }
}

// GALLERY

.gallery {
  padding-top: 50px;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  background-color: $white;
}

.gallery__title {
  text-align: center;

  color: $text-secondary;

  font-family: $font-main;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;

  @include breakpoint-up(large-desktop) {
    font-size: 60px;
  }
}

.gallery__text {
  text-align: center;

  color: $text-secondary;

  font-family: $font-secondary;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.05em;

  @include breakpoint-up(large-desktop) {
    font-size: 24px;
  }
}

.gallery__photos {
  --cards-width: 320px;
  --cards-height: 250px;
  --gap: 10px;

  position: relative;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap);

  @include breakpoint-between(mobile, large-desktop) {
    --cards-width: 339px;
    --cards-height: 320px;

    flex-direction: row;
    flex-wrap: wrap;
    max-width: calc(var(--cards-width) * 2 + var(--gap));

    .photo-card:nth-child(3n) {
      flex: 0 0 100%;
    }
  }

  @include breakpoint-up(large-desktop) {
    --cards-width: 379px;
    --cards-height: 320px;
    --gap: 28px;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    flex: 0 0 100%;
    max-width: calc(var(--cards-width) * 4 + var(--gap) * 3);

    .photo-card:nth-child(3) {
      position: absolute;
      top: 0;
      left: 0;

      height: calc(var(--cards-height) * 2 + var(--gap)) !important;
    }

    .photo-card:nth-child(1),
    .photo-card:nth-child(2) {
      margin-left: 379px + 28px;
    }

    .photo-card:nth-child(6),
    .photo-card:nth-child(9) {
      flex: 1 1 33.3%;
    }

    .photo-card:nth-child(1) {
      order: 2;
    }

    .photo-card:nth-child(2) {
      order: 4;
    }

    .photo-card:nth-child(3) {
      order: 1;
    }

    .photo-card:nth-child(4) {
      order: 7;
    }

    .photo-card:nth-child(5) {
      order: 8;
    }

    .photo-card:nth-child(6) {
      order: 3;
    }

    .photo-card:nth-child(7) {
      order: 5;
    }

    .photo-card:nth-child(8) {
      order: 6;
    }

    .photo-card:nth-child(9) {
      order: 9;
    }
  }
}

.photo-card {
  position: relative;
  z-index: 10;

  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2px;
  width: var(--cards-width);
  height: var(--cards-height);

  border: none;

  transition: box-shadow $transition-default;

  &:hover {
    box-shadow: 0 0 0 2px $color-primary;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px $color-primary;
  }

  .background-filter {
    background: $background-filter-gradient;
  }
}

.photo-card__title {
  position: relative;
  z-index: inherit;

  text-align: start;

  color: $text-primary;

  font-family: $font-secondary;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 25px;
  word-break: normal;

  @include breakpoint-up(mobile) {
    font-size: 32px;
  }
}

.photo-card__text {
  position: relative;
  z-index: inherit;

  text-align: start;

  color: $text-primary;
  opacity: 0.8;

  font-family: $font-main;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
}

.gallery__actions {
  button {
    &:focus-visible {
      box-shadow: 0 0 0 2px $color-secondary;
    }
  }
}

.gallery__slider {
  opacity: 0;

  animation: gallery__slider-animation $transition-default forwards;
}

@keyframes gallery__slider-animation {
  to {
    opacity: 1;
  }
}

.gallery__slider[open] {
  $controls-height: 7%;

  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;

  background-color: transparent;
  border: none;

  &::backdrop {
    background-color: transparentize($background-popup, 0.2);
    backdrop-filter: blur(10px);
  }

  .slider__container {
    position: relative;
    z-index: 201;

    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 80%;
    height: 90%;

    background-color: $white;
    border-radius: 2px;
  }

  .slider__photo {
    height: 100% - $controls-height;

    object-fit: cover;

    transition: opacity $transition-default;

    @include breakpoint-down(mobile) {
      object-fit: contain;
    }
  }

  .slider__photo--transition {
    opacity: 0;
  }

  .slider__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: $controls-height;

    @include breakpoint-down(mobile) {
      gap: 20px;
    }
  }

  .slider__button {
    $size: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: $size;
    height: $size;

    color: transparentize($color-secondary, 0.5);
    background-color: transparent;
    border: none;

    transition: color $transition-default;

    svg {
      width: $size;
      height: $size;
    }

    &:hover {
      color: $color-secondary;
    }
  }

  .slider__close {
    $size: 56px;

    position: absolute;
    top: 4px;
    right: 4px;
    z-index: inherit;

    width: $size;
    height: $size;

    background-color: $white;

    svg {
      $size: 24px;

      width: $size;
      height: $size;
    }
  }

  .slider__rounds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 60%;
  }

  .slider__round {
    $size: 14px;

    width: $size;
    height: $size;

    background-color: transparent;
    border: 2px solid transparentize($color-secondary, 0.8);
    border-radius: 50%;

    transition:
      border-color $transition-default,
      background-color $transition-default;

    &:not(.slider__round--active):hover {
      border-color: $color-secondary;
    }
  }

  .slider__round--active {
    cursor: default;
    border-color: $color-primary;
    background-color: $color-primary;
  }
}

// TRAININGS

.trainings-section {
  background-color: $background-main;

  .container {
    padding-top: 110px;
    padding-bottom: 110px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;

    @include breakpoint-down(small-desktop) {
      padding-top: 80px;
      padding-bottom: 80px;

      flex-direction: column;
      justify-content: stretch;
      align-items: start;
    }

    @include breakpoint-down(mobile-small) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}

.trainings-section__text-block {
  padding-left: 16.5px;

  width: 651px;

  border-left: 3px solid $color-primary;

  @include breakpoint-down(small-desktop) {
    width: 100%;
  }
}

.trainings-section__title {
  color: $text-secondary;

  font-family: $font-secondary;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;

  @include breakpoint-down(large-desktop) {
    font-size: 22px;
  }

  @include breakpoint-down(mobile-small) {
    font-size: 20px;
  }
}

.trainings-section__heading {
  margin-top: 20px;

  color: $text-secondary;

  font-family: $font-main;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 100%;

  @include breakpoint-down(large-desktop) {
    font-size: 45px;
  }

  @include breakpoint-down(mobile-small) {
    font-size: 30px;
  }
}

.trainings-section__text {
  margin-top: 30px;

  color: $text-secondary;

  font-family: $font-secondary;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.05em;

  @include breakpoint-down(large-desktop) {
    font-size: 16px;
  }
}

.trainings-section__offers {
  --max-width: 681px;

  margin-left: auto;
  margin-right: auto;

  max-width: var(--max-width);

  @include breakpoint-down(mobile) {
    --max-width: 100%;
  }
}

.trainings-section__tabs {
  max-width: var(--max-width);

  overflow: hidden;

  .nav-tabs {
    margin-left: auto;
    margin-right: auto;

    flex-wrap: nowrap;
    width: max-content;
  }

  .nav-link {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;

    width: 108px;

    color: $text-secondary;
    border-bottom: 2px solid transparentize($black, 0.9);

    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;

    transition:
      border-color $transition-default,
      color $transition-default;

    &.active {
      cursor: default;

      color: $color-primary;
      border-color: $color-primary;
    }

    &:not(.active):hover {
      color: transparentize($text-secondary, 0.2);
      border-color: transparentize($text-secondary, 0.2);
    }

    &:focus-visible {
      box-shadow: inset 0 0 0 1px $color-primary-hover;
    }
  }
}

.trainings-section__items {
  margin-top: 30px;
}

.trainings-section__offers-grid {
  display: flex;
  flex-wrap: wrap;
  width: var(--max-width);
}
.offers-grid__item {
  padding-top: 54px;
  padding-bottom: 54px;
  padding-left: 24px;

  display: flex;
  align-items: center;
  gap: 8px;
  width: 227px;
  height: 122px;

  box-shadow: inset 0 0 0 1px transparentize($black, 0.9);

  @include breakpoint-down(mobile) {
    width: 50%;
  }

  @include breakpoint-down(mobile-small) {
    padding-left: 10px;
  }

  svg {
    color: $color-primary;
  }

  .offer__text {
    color: $text-ternary;

    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;

    transition: background-color $transition-default;

    @include breakpoint-down(mobile-small) {
      font-size: 14px;
    }
  }

  &:hover {
    background-color: transparentize($color-secondary, 0.8);
  }
}

// REVIEWS

.reviews-section {
  position: relative;

  overflow: hidden;

  padding-top: 125px;
  padding-bottom: 50px;

  background-color: $background-main;

  @include breakpoint-down(large-desktop) {
    padding-top: 100px;
    padding-bottom: 0;
  }

  @include breakpoint-down(mobile) {
    padding-top: 70px;
  }

  .container {
    display: flex;

    > div {
      width: 50%;
    }

    @include breakpoint-down(large-desktop) {
      flex-direction: column;

      > div {
        width: 100%;
      }

      .half-background {
        display: none;
      }

      .reviews-section__reviews {
        background-color: $white;
      }
    }
  }

  .half-background {
    position: absolute;
    top: 0;
    right: 0;

    width: 50%;
    height: 100%;

    background-color: $white;

    @include breakpoint-down(large-desktop) {
      display: none;
    }
  }
}

.reviews-section-bg {
  position: absolute;
  bottom: 0;
  left: 30%;

  max-height: 90%;

  object-fit: contain;

  @include breakpoint-down(large-desktop) {
    top: 5%;
    left: auto;
    right: 0;
    max-height: 40%;
  }

  @include breakpoint-down(tablet) {
    top: 6%;
    right: -10%;
  }

  @include breakpoint-down(mobile) {
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.reviews-section__intro {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @include breakpoint-down(mobile) {
    padding-bottom: 358px;
  }

  .reviews-section__text {
    margin-top: 30px;

    max-width: 400px;

    @include breakpoint-down(mobile) {
      margin-top: 20px;
    }
  }

  .button--text {
    margin-top: 10px;
  }

  .reviews-section__actions {
    margin-top: 50px;

    display: flex;
    gap: 10px;

    @include breakpoint-down(large-desktop) {
      margin-top: 30px;

      flex-direction: column;
      align-items: flex-start;
    }
  }

  @include breakpoint-down(large-desktop) {
    margin-top: 30px;
    margin-bottom: 100px;
  }
}

.reviews-section__reviews {
  position: relative;

  padding-left: 158px;

  .reviews-section__title {
    position: relative;
    z-index: inherit;

    max-width: 600px;
  }

  @include breakpoint-down(large-desktop) {
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 60px;
  }

  @include breakpoint-down(mobile) {
    padding-top: 70px;
    padding-left: 0;

    max-width: 100%;
  }
}

.reviews-bg {
  display: none;

  @include breakpoint-down(large-desktop) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    display: block;
    width: 100dvw;
    height: 100%;

    background-color: $white;
  }
}

.reviews-swiper {
  margin-top: 50px;

  .swiper {
    width: 100%;
    height: auto;
  }

  .review__title {
    color: $text-secondary;

    font-family: $font-main;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 100%;

    @include breakpoint-down(tablet) {
      font-size: 18px;
    }
  }

  .review__stars {
    margin-top: 10px;

    display: flex;
    gap: 5px;

    color: $color-primary;
  }

  .review__text {
    margin-top: 20px;

    max-width: 495px;
  }

  .swiper__controls {
    margin-top: 55px;
  }
}

.reviews-swiper__review {
  padding-left: 16px;

  border-left: 3px solid $color-primary;
}

.swiper-pagination-bullet {
  $size: 14px;

  margin: 0 !important;

  width: $size;
  height: $size;

  background-color: transparent;
  border: 2px solid transparentize($color-secondary, 0.8);
  border-radius: 50%;

  transition:
    border-color $transition-default,
    background-color $transition-default;

  &:not(.slider__round--active):hover {
    border-color: $color-secondary;
  }
}

.swiper-pagination-bullet-active {
  cursor: default;
  border-color: $color-primary;
  background-color: $color-primary;
}

.slider__button {
  $size: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: $size;
  height: $size;

  color: transparentize($color-secondary, 0.5);
  background-color: transparent;
  border: none;

  transition: color $transition-default;

  svg {
    width: $size;
    height: $size;
  }

  &:hover {
    color: $color-secondary;
  }
}

.swiper__controls {
  position: relative;
  z-index: inherit;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.swiper__pagination {
  display: flex;
  gap: 10px;

  max-width: max-content;
}

.results-section {
  --padding-bottom: 0;

  position: relative;

  padding-bottom: var(--padding-bottom);

  height: 1040px;

  background-color: $background-main;

  @include breakpoint-down(small-desktop) {
    --padding-bottom: 60px;

    padding-top: 70px;

    height: auto;
  }

  .half-background {
    position: absolute;
    top: 0;
    left: 0;

    width: 50%;
    height: 100%;

    background-color: $white;

    @include breakpoint-down(small-desktop) {
      width: 100%;
      height: calc(100% - 60px - var(--padding-bottom));
    }
  }

  .container {
    position: relative;
    z-index: inherit;

    display: flex;
    align-items: center;
    height: 100%;

    > div {
      width: 50%;
    }

    @include breakpoint-down(small-desktop) {
      flex-direction: column;
      align-items: flex-start;

      > div {
        width: 100%;
      }
    }
  }
}

.results__title,
.results__text {
  max-width: 540px;

  @include breakpoint-down(large-desktop) {
    max-width: 70%;
  }

  @include breakpoint-down(tablet) {
    max-width: 100%;
  }
}

.results__text {
  margin-top: 20px;

  font-size: 24px;

  @include breakpoint-down(mobile) {
    font-size: 20px;
  }
}

.result__swiper-controls {
  margin-top: 100px;

  @include breakpoint-down(small-desktop) {
    margin-top: 50px;
  }

  @include breakpoint-down(mobile-small) {
    display: flex;
    justify-content: space-between;
  }
}

.results__slider-block {
  .swiper-slide {
    scale: 1.5;

    @include breakpoint-between(tablet, small-desktop) {
      scale: 1.1;
    }

    @include breakpoint-down(mobile-small) {
      scale: 1.1;
    }
  }

  .swiper-slide:not(.swiper-slide-active) {
    .ba-slider .handle,
    .ba-slider .handle:after,
    .before-after__text {
      display: none;
    }
  }

  .slider-block__container {
    --padding: 60px;

    padding-top: var(--padding);
    padding-left: var(--padding);
    padding-right: var(--padding);

    width: 967px;
    height: 800px;

    transform: translateX(-95px);

    background: $color-primary;
    border-radius: 2px;

    .before-after__text {
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);

      margin-top: var(--text-mt);
      margin-bottom: var(--text-mb);

      display: flex;
      justify-content: space-between;
      width: 40%;

      color: $white;

      font-family: $font-secondary;
      font-size: var(--text-font-size);
      line-height: 140%;
      text-align: center;
      letter-spacing: -0.05em;
    }

    @include breakpoint-down(large-desktop) {
      --padding: 30px;

      width: 688px;
      height: 594px;
    }

    @include breakpoint-down(small-desktop) {
      transform: none;

      margin-top: 30px;

      width: 100%;
      height: auto;
    }
  }
}

.results__before-after {
  --height: 680px;
  --width: 460px;
  --text-mt: 14px;
  --text-mb: 25px;
  --text-font-size: 14px;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: var(--width);
  height: calc(var(--height) + var(--text-mt) + var(--text-mb) + var(--text-font-size));

  @include breakpoint-down(large-desktop) {
    --height: 510px;
    --width: 390px;
  }

  @include breakpoint-down(mobile) {
    --height: 410px;
    --width: 290px;
  }

  @include breakpoint-down(mobile-small) {
    --height: 310px;
    --width: 210px;
  }

  .ba-slider {
    position: relative;

    width: 100%;
    // height: 100%;

    overflow: hidden;
    border-radius: 2px;
  }

  .ba-slider img {
    display: block;
    width: 100%;
    max-width: none !important;

    object-fit: contain;
  }

  .ba-slider .resize {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 50%;

    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      object-position: left;
    }
  }
}

.ba-slider .handle {
  cursor: ew-resize;

  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  transform: translateX(-50%);

  display: block;
  width: 3px;

  background: $white;
}

.ba-slider .handle:after {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  width: 9px;
  height: 60px;

  background-color: $color-secondary;
  border: 0.5px solid $white;

  transition: background-color $transition-default;
}

.ba-slider .handle.ba-draggable:after {
  background-color: $color-primary;
}

.testimonials {
  position: relative;

  padding-top: 150px;

  background-color: $background-main;

  .container {
    position: relative;
    z-index: inherit;
  }
}

.testimonials-bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: calc(100% - 110px);

  background-color: $white;

  @include breakpoint-down(large-desktop) {
    display: none;
  }
}

.testimonials__section-title {
  text-align: center;
}

.testimonials__videos-panel {
  margin-top: 30px;
  padding: 30px;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;

  background: $color-primary;
  border-radius: 2px;

  @include breakpoint-down(desktop) {
    padding: 15px;
  }

  @include breakpoint-down(small-desktop) {
    padding: 10px;
  }

  @include breakpoint-down(mobile) {
    flex-direction: column;
  }
}

.testimonials__video {
  position: relative;

  width: 32%;
  aspect-ratio: 16 / 9;

  object-fit: contain;

  @include breakpoint-down(mobile) {
    width: 100%;
  }
}

.video-modal {
  overflow: hidden;

  .modal-content {
    background-color: transparent;
  }

  @include breakpoint-down(mobile-small) {
    .btn-close {
      --size: 26px;
    }
  }
}

.modal__video {
  position: relative;

  width: 100%;
  max-height: 90dvh;
  aspect-ratio: 16 / 9;
  object-fit: contain;
}
